@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 85%;
  margin: auto;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #31b675;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}

.primary-btn:hover {
  background-color: #fff;
  color: white;
}

.secondary-btn {
  background-color: #31b675;
  color: #fff;
}

.outline-btn, .secondary-btn {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  padding: 12px 30px;
}

.control-btn button {
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.control-btn i {
  background-color: #31b675;
  width: 45px;
  height: 45px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

textarea, input {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
}

.top {
  margin-top: 100px;
}